:root {
  --background-image-path: url("https://thumbs.dreamstime.com/b/pink-plastered-concrete-wall-texture-painted-built-structure-grungy-uneven-plaster-abstract-background-shabby-155634485.jpg");
  --primary-purple: #510056;
  --primary-gold: #e3bc66;
  --primary-pink: #fcc3d3;
  --secondary-pink: #ffdbe9;
}

button {
  border-radius: 3px;
  background-color: #510056;
  color: #e3bc66;
  width: 12vmin;
  height: 4vmin;
  transition: background-color 1s;
}

button:hover {
  cursor: pointer;
  background-color: #e3bc66;
  color: #510056;
}
